/* CSS declarations go here */
.everything
{
	left: 0%;
	background-color: lightgray;
}
.button-color
{
	top: 10%;
	background-color: blue;
	left: 0%;
}

.title
{

  font-family: cursive;
  left: 0%;
}
.head-title
{
  background-color: lightgray;
}
.body
{
  background-color: lightgray;
}
